:root {
  --primary-colour: aqua;
  --primary-font: "Chango";
  --secondary-font: "Hepta Slab", serif;
}

.navbar {
  background-color: aqua;
  border-bottom: 3px dotted black;
  font-family: var(--secondary-font);
}

#nav-name {
  font-family: var(--primary-font);
  color: black;
}

.navbar-brand {
  padding-left: 30px;
}

li {
  padding-left: 25px;
}

.icon {
  max-height: 25px;
  max-width: 25px;
  margin-right: 20px;
}

#nav-name {
  margin-right: 10px;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

h1 {
  padding: 20px;
  font-family: var(--primary-font);
  font-size: 80px;
  color: var(--primary-colour);
  margin-bottom: 20px;
}

h2 {
  font-family: var(--primary-font);
  font-size: 40px;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn {
  background-color: var(--primary-colour);
  border-radius: 20px;
}

.btn-contact {
  color: black;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 30px;
}

p {
  font-family: var(--secondary-font);
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--primary-colour);
  border-radius: 20px;
  padding: 15px;
}

h4 {
  padding-top: 50px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 40px;
}

#info {
  font-size: 20px;
  text-align: left;
  margin-bottom: 80px;
}

.primary-link {
  border-radius: 20px;
  padding: 20px 15px;
  text-decoration: none;
  background-color: white;
  color: black;
  display: block;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: var(--primary-font);
  font-size: 20px;
}

.row {
  align-items: center;
}

#gap {
  padding-top: 2%;
}

#about-me {
  font-size: 30px;
  margin-top: 20px;
}

#about {
  text-align: center;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo {
  border-radius: 20px;
}

.work-head h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
}

#projects {
  text-align: center;
}

#projects h3 {
  margin-top: 40px;
}

#projects p {
  font-size: 30px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 4%;
  }
  #index-puzzles,
  #index-world-clock,
  #index-weather,
  #index-cheesecake {
    display: none;
  }
  h4 {
    margin-top: 10%;
    font-size: 30px;
  }
  .primary-link {
    margin-left: 15%;
    margin-right: 15%;
  }
  #info {
    text-align: center;
  }
  h1 {
    padding: 0px;
    text-align: center;
    font-size: 50px;
  }
  .container {
    margin-bottom: 5%;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .primary-link {
    margin: 5%;
  }
}
